body{
    font-size: 17px;
}
/*-------start utils-------*/
.d-flex-align-center{
    display: flex!important;
    flex-direction: row;
    justify-content: center!important;
    align-items: center!important;
}
.d-flex-left-align-center{
    display: flex!important;
    flex-direction: row;
    justify-content: flex-start!important;
    align-items: center!important;
}
.d-flex-right-align-center{
    display: flex!important;
    flex-direction: row;
    justify-content: flex-end!important;
    align-items: center!important;
}
.d-flex-between-align-center{
    display: flex!important;
    flex-direction: row;
    justify-content: space-between!important;
    align-items: center!important;
}
.d-inlineflex-between-align-center{
    display: inline-flex!important;
    justify-content: space-between!important;
    align-items: center!important;
}
/*-------end utils-------*/
/*-------start color-------*/
.white-text{
    color: #fff!important;
}
.light-green-text{
    color: #7AF9AD!important;
}
.green-text{
    color: #058B00!important;
}
.sand-text{
    color: #E7E0CB!important;
}
/*-------end color-------*/

/*-------start background color-------*/
.white-bg{
    background-color: #fff!important;
}
.light-green-bg{
    background-color: #7AF9AD!important;
}
.green-bg{
    background-color: #058B00!important;
}
.sand-bg{
    background-color: #E7E0CB!important;
}
/*-------end background color-------*/

/*-------start header-------*/
.panel-header-custom{
    height: 65px;
    padding-top: 0;
    padding-bottom: 0;
}
.hamburger-custom {
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
button.hamburger-custom-toggler {
    display: block;
    position: relative;
    width: 37px;
    height: 18px;
    margin-right: 1rem;
    outline: 0;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
span.hamburger-custom-bar {
    display: block;
    position: absolute;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #FFFFFF;
}
span.hamburger-custom-bar.bar2 {
    width: 17px;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}
span.hamburger-custom-bar.bar1 {
    top: 0px;
    -webkit-animation: topbar-back 500ms linear 0s;
    animation: topbar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
span.hamburger-custom-bar.bar2 {
    top: calc(50% - 1px);
    opacity: 1;
}
span.hamburger-custom-bar.bar3 {
    bottom: 0px;
    -webkit-animation: bottombar-back 500ms linear 0s;
    animation: bottombar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
button.hamburger-custom-toggler:hover span.hamburger-custom-bar.bar2 {
    width: 22px;
}
/*-------end header-------*/

/*-------start sidebar-------*/
.logo-text{
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}
.sidebar,.sidebar .sidebar-wrapper{
    overflow: hidden!important;
}
.sidebar,.sidebar .sidebar-wrapper, .sidebar .sidebar-wrapper .nav a {
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.sidebar .sidebar-wrapper .nav p  {
    -webkit-transition: width 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1),line-height 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: width 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1), line-height 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.sidebar .sidebar-wrapper .nav a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sidebar .sidebar-wrapper .nav p{
    display: inline-block;
}
/*-------end sidebar-------*/

/*-------start appointment-------*/
.appointment-list {
    width: 25rem!important;
}
.calendar-card {
    max-width: 35rem;
}

/*-------end appointment-------*/

/*-------start callpatient-------*/
div.call-group-card-item {
    width: 22.5em;
    height: 26.5em;
    padding: 2.5em 3em;
}

div.call-group-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*-------end callpatient-------*/

/*-------start communication-------*/
#communication{
    height: calc(100% - 65px);
}
/*-------end communication-------*/

/*-------start responsive-------*/
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: landscape){
    button.hamburger-custom-toggler{
        display: none;
    }
}
@media only screen and (max-width: 991px){
    button.hamburger-custom-toggler{
        display: none;
    }
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait){
    #header-bar > .container-fluid{
        padding-left:0px!important; 
    }
    .custom-sidebar-close .sidebar,.custom-sidebar-close .sidebar .sidebar-wrapper{
        overflow: hidden;
        width: 70px;
    }
    .custom-sidebar-close .sidebar .sidebar-wrapper .nav a{
        margin-left: 10px;
        margin-right: 10px;
    }
    .custom-sidebar-close .sidebar .sidebar-wrapper .nav i{
        margin-right: 0;
    }
    .custom-sidebar-close .sidebar .sidebar-wrapper .nav p{
        overflow: hidden;
        width: 0px;
        line-height: 0px;
    }
    .custom-sidebar-close .main-panel {
        width: calc(100% - 70px);
    }
}
@media only screen and (min-width: 1025px){
    #header-bar > .container-fluid{
        padding-left:0px!important; 
    }
    .custom-sidebar-close .sidebar,.custom-sidebar-close .sidebar .sidebar-wrapper{
        overflow: hidden;
        width: 70px;
    }
    .custom-sidebar-close .sidebar .sidebar-wrapper .nav a{
        margin-left: 10px;
        margin-right: 10px;
    }
    .custom-sidebar-close .sidebar .sidebar-wrapper .nav i{
        margin-right: 0;
    }
    .custom-sidebar-close .sidebar .sidebar-wrapper .nav p{
        overflow: hidden;
        width: 0px;
        line-height: 0px;
    }
    .custom-sidebar-close .main-panel {
        width: calc(100% - 70px);
    }
}
/*-------end responsive-------*/

/*-------start workflow settings--------*/
div.container {
    background-image: linear-gradient(#86FDE8,#ACB6E5);
    /* height: 38em; */
    border-radius: 15px;
}
#menu_workflow{
    padding-left: 1em;
    padding-top: 1em;
}
#edit{
    background-color:#FFAFBD;
    border-radius: 15px;
    color:black;
}
#saveset{
    background-color:#2EBF91;
    border-radius: 15px;
    color:black;
}
#reset{
    background-color: #F5AF19;
    border-radius: 15px;
    color:black;
}
#cur_work{ 
    background-color: #A9F5FA;
    border-radius: 15px;
}
#cur_work_body::-webkit-scrollbar{
    background-color:#1488CC;
    height: 28em;
    border-radius: 15px;
}

/*-------end workflow settings----------*/

/*---- start location -----*/

#location{
    background-color:#0575E6;
    border-radius: 15px;
}
#manual{
    background-color:#0575E6;
    border-radius: 15px;
}
/*----- end location ------*/

/*------start recommend ----*/
.my-1{
    padding-top:10px;
}

/*------ end recommend -----*/