<template>
  <div id="layout" class="layout perfect-scrollbar-on">
    <div class="wrapper">
      <side-bar v-if="$route.name != 'Display_1' && $route.name != 'Display_2'  && $route.name != 'Display' && $route.name != 'Display_4'  && $route.name != 'Display_5'"></side-bar>
      <div class="main-panel" :class="($route.name == 'Display_1' || $route.name == 'Display_2' || $route.name == 'Display' || $route.name == 'Display_4' || $route.name == 'Display_5')?'w-100':''">
          <header-bar v-if="$route.name != 'Display_1' && $route.name != 'Display_2' && $route.name != 'Display' && $route.name != 'Display_4'  && $route.name != 'Display_5'"></header-bar>
          <div v-if="$route.name != 'Display_1' && $route.name != 'Display_2' && $route.name != 'Display' && $route.name != 'Display_4'  && $route.name != 'Display_5'" class="panel-header panel-header-custom"></div>
          <router-view/>
      </div>
      <loader></loader>
    </div>
  </div>
</template>

<script>
import SideBar from '@/components/Layout/Fragment/SideBar'
import HeaderBar from '@/components/Layout/Fragment/HeaderBar'
import Loader from '@/components/Layout/Fragment/Loader'
export default {
  name: 'Layout',
  data () {
    return {
      msg: 'God damn it'
    }
  },
  components: {
    'side-bar' : SideBar,
    'header-bar' : HeaderBar,
    'loader' : Loader,
  }
}
</script>
