<template>
  <div id="loader">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
</template>

<script>
export default {
  name: 'Loader',
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
<style>
#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #078bff2e;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
}
#loader.active{
    opacity: 1;
    pointer-events: visible;  
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #0c2646;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

</style>