<template>
  <div id="side-bar" class="sidebar" data-color="iopd-theme">
    <div class="logo">
      <div class="panel-header-custom d-flex-align-center logo-text">IOPD</div>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <!-- <li :class="$route.meta.title == 'Queue'?'active':''">
          <router-link tag="a" to="/queue">
            <i class="now-ui-icons sport_user-run"></i>
            <p>Queue</p>
          </router-link>
        </li> -->
        <li :class="($route.name == 'ReQueue' || $route.name == 'QueueDetail'|| $route.name == 'Display')?'active':''">
          <router-link tag="a" to="/requeue">
            <i class="now-ui-icons sport_user-run"></i>
            <p>Queue</p>
          </router-link>
        </li>
        <li :class="$route.name == 'Appointment'?'active':''">
          <router-link tag="a" to="/appointment">
            <i class="now-ui-icons ui-1_calendar-60"></i>
            <p>Appointment</p>
          </router-link>
        </li>
        <li :class="$route.name == 'Export'?'active':''">
          <router-link tag="a" to="/export">
            <i class="now-ui-icons ui-1_calendar-60"></i>
            <p>Import/Export</p>
          </router-link>
        </li>
        <!-- <li :class="$route.meta.title == 'Call Patient'?'active':''">
                <router-link tag="a" to="/callpatient">
                    <i class="now-ui-icons media-2_sound-wave"></i>
                    <p>Call Patient</p>
                </router-link>
            </li>
            <li :class="$route.meta.title == 'Organization Communication'?'active':''">
                <router-link tag="a" to="/communication">
                    <i class="now-ui-icons ui-1_email-85"></i>
                    <p>Organization<br>Communication</p>
                </router-link>
        </li>-->
         <li :class="$route.name == 'Setting'?'active':''">
          <router-link tag="a" to="/Setting">
            <i class="now-ui-icons files_paper"></i>
            <p>
              Settings
            </p>
          </router-link>
        </li>

        <!--<li :class="$route.name == 'Location'?'active':''">
          <router-link tag="a" to="/location">
            <i class="now-ui-icons location_pin"></i>
            <p>
              Location
              <br>Settings
            </p>
          </router-link>
        </li>-->

        <!--<li :class="$route.name == 'Recommend'?'active':''">
          <router-link tag="a" to="/recommend">
            <i class="now-ui-icons emoticons_satisfied"></i>
            <p>
              Recommend
              <br>Settings
            </p>
          </router-link>
        </li> -->
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideBar",
  data() {
    return {
      msg: "SideBar"
    };
  },
  methods: {}
};
</script>
