<template>
  <div class="appointment">
    <div class="content">
      <div class="card">
        <div class="d-flex justify-content-around">
          <button @click="tab1()" type="button" class="btn my-4 float-right" :class="(tab == 1)?'btn-success':'btn-info'">Appointment List</button>
          <button @click="tab2()" type="button" class="btn btn-primary my-4 float-right" :class="(tab == 2)?'btn-success':'btn-info'">Add Appointment</button>
          <!-- <button @click="tab3()" type="button" class="btn btn-primary my-4 float-right" :class="(tab == 3)?'btn-success':'btn-primary'">Missing Queue</button> -->
        </div>
        
      </div>
      <template v-if="tab == 1">
        <h2 class="card-title">Appointment List</h2>  
        <div class="d-flex justify-content-center">
        </div>
        <div class="card">
          <div class="flex-fill mb-4 mx-4">
            <!-- <div id="calendar"></div> -->
            <h4>
              Select Date
            </h4>
            <input type="date" id="filter_date" class="form-control">
          </div>
          <div
            class="card-header border border-top border-left-0 border-right-0 border-secondary"
          >
            <h2 class="appointment-list-day card-title text-center">{{current_datename}} - {{current_day}} - {{current_month}} - {{current_year}}</h2>
          </div>
          <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th class="text-center">
                      Patient
                    </th>
                    <th class="text-center">
                      Doctor
                    </th>
                    <th class="text-center">
                      Date
                    </th>
                    <th class="text-center">
                      Time
                    </th>
                    <th class="text-center">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr :key="'apoointment_'+appointment.id+'_'+index+'_'+renderKey"  v-for="(appointment,index) in appointment_lists">
                    <td class="text-center">
                      {{appointment.patients_firstname}} {{appointment.patients_surname}}
                    </td>
                    <td class="text-center">
                      {{appointment.doctor_firstname}} {{appointment.doctor_surname}}
                    </td>
                    <td class="text-center">
                      {{appointment.date}}
                    </td>
                    <td class="text-center">
                      {{appointment.timeslot_starttime}}  - {{appointment.timeslot_endtime}}
                    </td>
                    <td class="text-center">
                      <button type="button" v-on:click="addQueue(index)" class="btn btn-success m-2">เพิ่มใส่คิว</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </template>
      <template v-if="tab == 2">
        <h2 class="card-title">Add Appointment</h2>  
        <div class="card new-appointment px-4 py-3 w-50">
          <h6>Appointment Date: </h6>
          <div class="d-flex mb-4">
            <input type="date" id="add_date" class="form-control" >
          </div>
          <h6>Workflow:</h6>
          <div class="d-flex mb-4">
            <select name="" class="form-control" id="add_workflow" @change="workflowChange()">
              <option value="-1">----Choose the workflow----</option>
              <option :value="workflow.id" :department_id="workflow.departmentId" :key="workflow_index" v-for="(workflow,workflow_index) in workflow_lists">{{workflow.name}}</option>
            </select>
          </div>

          <h6>Doctor</h6>
          <div class="mb-4">
            <select name="" class="form-control" id="add_doctor" disabled>
              <option value="-1">----Choose the Doctor----</option>
              <option :value="doctor.id" :key="doctor_index" v-for="(doctor,doctor_index) in doctor_lists">{{doctor.firstname}} {{doctor.surname}}</option>
            </select>
          </div>

          <h6>Room:</h6>
          <div class="mb-4">
            <select name="" class="form-control" id="add_room" @change="roomChange()" disabled>
              <option value="-1">----Choose the room-----</option>
              <option :value="roomlist.id" :department_id="roomlist.departmentId" :key="roomlist_index" v-for="(roomlist,roomlist_index) in roomlist_lists"> {{roomlist.name}}</option>
            </select>
          </div>
          <h6>TimeSlot</h6>
          <div class="mb-4">
            <select name="" class="form-control" id="add_timeslot" disabled>
              <option value="-1">----Choose the timeslot----</option>
              <option :value="timeslot.id" :key="timeslot_index" v-for="(timeslot,timeslot_index) in timeslot_lists">{{timeslot.startTime}} - {{timeslot.endTime}}</option>
            </select>
          </div>

          <h6>Patient</h6>
          <div class="mb-4">
            <select name="" class="form-control" id="add_patient" disabled>
              <option value="">----Choose the patient----</option>
              <option :value="patient.user_id" :key="patient_index" v-for="(patient,patient_index) in patient_lists">{{patient.firstname}} {{patient.surname}}</option>
            </select>
          </div>
          
          
          
          <!-- <h6>Description</h6>
          <textarea placeholder="Description" class="form-control mb-2"></textarea> -->
          <div class="text-right">
            <button type="button" v-on:click="addAppointment()" class="btn btn-primary">Create</button>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import CalendarYvv from "@/assets/plugins/calendar/calendar.js";
import service from "@/modules/service";
export default {
  name: "Appointment",
  data() {
    return {
      renderKey: 0,
      queue_type_list: [],
      appointment_lists: [],
      roomlist_lists: [],
      current_day: "",
      current_datename: "",
      current_year: "",
      current_month: "",
      tab: 1,
      timeslot_lists:[],
      patient_lists:[],
      doctor_lists:[],
      workflow_lists:[],
    };
  },
  methods:{
    tab1: function(date){
      var self = this;
      self.tab = 1;

      self.$nextTick(function(){
        // var calendar = new CalendarYvv(
        //   "#calendar",
        //   moment().format("Y-M-D"),
        //   "Monday"
        // );
        // calendar.funcPer = function(ev) {
        //   self.current_day = calendar.currentSelected.split("-")[2]+self.nth(calendar.currentSelected.split("-")[2]);
        //   self.current_datename = self.datename(calendar.currentSelected);
        //   self.loadAppointmentList(calendar.currentSelected);
        //   $("#calendar div[data-date*='-']").attr("style","");
        //   $("#calendar div[data-date*='"+calendar.currentSelected+"']").attr("style","background: #28a7454d; color: #28a745; font-weight: bold;");
        // };
        // calendar.diasResal = [4, 15, 26];
        // calendar.createCalendar();

        // self.current_day = calendar.currentSelected.split("-")[2]+self.nth(calendar.currentSelected.split("-")[2]);
        // self.current_datename = self.datename(calendar.currentSelected);
        // self.loadAppointmentList(calendar.currentSelected);
        
        // $("#calendar div[data-date*='-']").attr("style","");
        // $("#calendar div[data-date*='"+calendar.currentSelected+"']").attr("style","background: #28a7454d; color: #28a745; font-weight: bold;");

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;

        $("#filter_date").val(today);

        self.current_day = dd
        self.current_datename = self.datename(today);
        self.current_year = yyyy;
        self.current_month = self.monthname(today);

        self.loadAppointmentList(today);

        $("#filter_date").on("change",function(){
          var today = new Date($("#filter_date").val());
          var dd = String(today.getDate()).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = today.getFullYear();

          today = yyyy + '-' + mm + '-' + dd;

          self.current_day = dd+self.nth(dd);
          self.current_datename = self.datename(today);

          self.loadAppointmentList(today);
        });
      });
    },
    tab2: function(date){

      var self = this;
      self.tab = 2;
      self.$nextTick(function(){
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;

        $("#add_date").val(today);

        service.getTimeSlotList().then(function(data){
          self.timeslot_lists = data;
        });
        service.getPatientHint().then(function(data){
        
          self.patient_lists = data;
          console.log(data);
        });
        service.getDoctorHint().then(function(data){
        
          self.doctor_lists = data;
          console.log(data);
        });
        service.getWorkflowList().then(function(data){
        
          self.workflow_lists = data;
          console.log(data);
        });
        service.getRoomList().then(function(data){

          self.roomlist_lists = data;
        })
      });
    },
    loadRoomList: async function(){
      var self = this;
      this.$utils.loaderOn();
      var roomlist = await service.getRoomList();
      if(roomlist != "roomlist not found"){
        self.roomlist_lists = roomlist;
      }
      else{
        self.roomlist_lists = [];
      }
      
      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
      },
    loadAppointmentList: async function(date){
      var self = this;
      this.$utils.loaderOn();

      var appointmentlist = await service.getAppointmentListByDate(date);
      if(appointmentlist != "appointment not found"){
        self.appointment_lists = appointmentlist;
      }
      else{
        self.appointment_lists = [];
      }

      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    nth: function(d){
      switch (d % 10) {
        case 1:  return "st";
        case 2:  return "nd";
        case 3:  return "rd";
        default: return "th";
      }
    },
    datename: function(date){
      var now = new Date(date);
      var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
      var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];

      var day = days[ now.getDay() ];
      var month = months[ now.getMonth() ];
      return day;
    },
    monthname: function(date){
      var now = new Date(date);
      var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
      var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];

      var day = days[ now.getDay() ];
      var month = months[ now.getMonth() ];
      return month;
    },
    patientHint: function(str){
      service.getPatientHint(str).then(function(data){
        
        patient_lists = data;
        console.log(data);
      });
    },
    doctorHint: function(str){
      service.getDoctorHint(str).then(function(data){
        console.log(data);
      });
    },
    addAppointment: function(){
      var self = this;
    
      var patient_id = $("#add_patient").val();
      var employee_id = $("#add_doctor").val();
      var date = $("#add_date").val();
      var timeslot_id = $("#add_timeslot").val();
      var workflowId = $("#add_workflow").val();
      var room_id = $("#add_room").val();
      service.addAppointment(patient_id,employee_id,date,timeslot_id,workflowId,room_id).then(function(data){
        service.addRoomSchedule(room_id,employee_id,date,timeslot_id,workflowId).then(function(data){
          swal("เพิ่มเรียบร้อยแล้ว").then(function(){
            self.tab1();
          });
        });
      });
    },
    addQueue: function(appointment_index){
      var self = this;
      console.log("add queue:"+self.appointment_lists[appointment_index].patientId+" room: "+self.appointment_lists[appointment_index].room_id+" app "+self.appointment_lists[appointment_index].id);
      service.addQueue(
        self.appointment_lists[appointment_index].patientId,
        self.appointment_lists[appointment_index].room_id,
        self.appointment_lists[appointment_index].id,
        self.appointment_lists[appointment_index].queue_type_id,
        self.appointment_lists[appointment_index].workflowId
        
      ).then(function(data){
        swal("เพิ่มเรียบร้อยแล้ว").then(function(){
          self.$router.push('/requeue');
        });
      });
    },
    workflowChange: async function(){
      var self = this;
      var workflowId = $("#add_workflow").val();
      if(workflowId != -1){
        var department_id = $("#add_workflow > option[value='"+workflowId+"']").attr('department_id');
        console.log(department_id);
        self.roomlist_lists = await service.getRoomListFromDepartmentId(department_id);
        console.log(self.roomlist_lists);
        $("#add_room").prop("disabled",false);
        self.doctor_lists = await service.getDoctorListFromDepartmentId(department_id);
        $("#add_doctor").prop("disabled",false);
      }
      else{
        $("#add_doctor").prop("disabled",true);
        $("#add_room").prop("disabled",true);
      } 
    },
    roomChange: async function(){
      var self = this;
      var roomId = $("#add_room").val();
      console.log(roomId);
      if(roomId != -1){
        var department_id = $("#add_room > option[value='"+roomId+"']").attr('department_id');
        console.log(department_id);
        self.timeslot_lists = await service.getTimeslotListFromRoomId(department_id, roomId);
        $("#add_timeslot").prop("disabled",false);
        self.patient_lists = await service.getPatientList();
        $("#add_patient").prop("disabled",false);
      }
      else{
        $("#add_timeslot").prop("disabled",true);
        $("#add_patient").prop("disabled",true);
      } 
    }
  },
 
  async mounted() {
    var self = this;
    self.tab1();
  }
};
</script>
