<template>
  <div class="location" v-drag-and-drop:options="options">
    <div class="content">
      <h2>Location Settings</h2>
        <b-container id="main">
           <b-row id="menu_location">  
      <b-col sm="2">
            <b-button-group vertical>
             <b-button id="location" class="btn btn-lg">Location from Google Map</b-button>
             <b-button id="manual" class="btn btn-lg">Location from Users</b-button>
             <b-button id="saveset" class="btn btn-lg">Save Settings</b-button>
             <b-button id="reset" class="btn btn-lg">Restore Default</b-button>
            </b-button-group>
      </b-col>
      <b-col sm="8">
  <div>
    <div>
      <h4>Search and add a pin</h4>
      <label>
        <gmap-autocomplete
          @place_changed="setPlace">
        </gmap-autocomplete>
        <button @click="addMarker">Add</button>
      </label>
    </div>
    <gmap-map
      :center="center"
      :zoom="12"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>
  </div>
      </b-col>  
      </b-row>
      </b-container>
      </div>
      </div>  
 </template>     
     <script>
export default {
  name: "GoogleMap",
  data() {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      center: { lat: 13.792068, lng: 100.386728 },
      markers: [],
      places: [],
      currentPlace: null
    };
  },

  mounted() {
    this.geolocate();
  },

  methods: {
    // receives a place object via the autocomplete component
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        console.log(marker);
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    }
  }
};
</script>