<template>
  <div class="queue">
    <div class="content">
      <h4 class="card-title">Location Setting</h4>
      <a href="" id="a"></a>
<button href="" onclick="download('','myfilename.json','application/json')">Export file</button>

    </div>
  </div>
</template>

<script>
import service from "@/modules/service";
import { VueContext } from "vue-context";

export default {
  name: 'Setting',
  data () {
    return {
      queue_list: [
        {
          queue_no: 1,
          name: "die",
          queue_left: 0,
          status: "alive"
        },
        {
          queue_no: 2,
          name: "alive",
          queue_left: 1,
          status: "die"
        }
      ]
    }
  },
  method: {
    download: function(text,name,type){
            var json = JSON.stringify(text);
              var file = new Blob([json], {type: type});
            //var a = document.getElementById("a");
              a.href = URL.createObjectURL(file);
              a.download = name;
             a.click();
            setTimeout(function() {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 0); 
    },
    getQueueList: function(){
      var self = this;
      service.getQueueList().then(function(result){
        self.getQueueList();
      });
    }
  }
}
</script>
