<template>
  <div class="queue">
    <div id="main-bg" class="content">
      <template>
          <router-link :to="{ name: 'ReQueue'}"><a :href="'/requeue'"><button type="button" class="btn btn-primary d-inline-block"><h4 class="my-0">- ย่อ</h4></button></a></router-link>
          <h2 class="card-title d-inline-block my-3 mb-0 ml-4">{{$route.params.queueTitle}}</h2>
          <div v-if="$route.params.queueTitle == 'วัดสัญญาณชีพ'">
            <router-link v-if="$route.name == 'QueueDetail'" :to="{ name: 'Display_1'}"><a :href="'/Display_1'"><button type="button" class="btn btn-info d-inline-block float-right"><h7 class="my-0">Display_1</h7></button></a></router-link>
          </div>
          <div v-if="$route.params.queueTitle == 'เจาะเลือด'">
            <router-link v-if="$route.name == 'QueueDetail'" :to="{ name: 'Display_2'}"><a :href="'/Display_2'"><button type="button" class="btn btn-info d-inline-block float-right"><h7 class="my-0">Display_2</h7></button></a></router-link>
          </div>
          <div v-if="$route.params.queueTitle == 'พบแพทย์'">
            <router-link v-if="$route.name == 'QueueDetail'" :to="{ name: 'Display'}"><a :href="'/Display'"><button type="button" class="btn btn-info d-inline-block float-right"><h7 class="my-0">Display</h7></button></a></router-link>
          </div>
          <div v-if="$route.params.queueTitle == 'ชำระเงิน'">
            <router-link v-if="$route.name == 'QueueDetail'" :to="{ name: 'Display_4'}"><a :href="'/Display_4'"><button type="button" class="btn btn-info d-inline-block float-right"><h7 class="my-0">Display_4</h7></button></a></router-link>
          </div>
          <div v-if="$route.params.queueTitle == 'รับยา'">
            <router-link v-if="$route.name == 'QueueDetail'" :to="{ name: 'Display_5'}"><a :href="'/Display_5'"><button type="button" class="btn btn-info d-inline-block float-right"><h7 class="my-0">Display_5</h7></button></a></router-link>
          </div>
          <div id="checking" class="card yellowgreen-bg">
            <h4 class="card-title white-text text-center ml-5 mt-4">กำลังตรวจ</h4>
            <div class="table-responsive">
              <table class="table">
                <thead class="white-text">
                  <tr>
                    <th class="text-center">
                      Queue No.
                    </th>
                    <th class="text-center">
                      Name
                    </th>
                    <th class="text-center">
                      Queue Status
                    </th>
                    <th class="text-center">
                      Flow Type
                    </th>
                    <th class="text-center">
                      Place
                    </th>
                    <th class="text-center">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr :key="index+renderKey"  v-for="(queue_item,index) in meeting_queues_lists">
                    <td class="text-center">
                      {{queue_item.queueNo}}
                    </td>
                    <td class="text-center">
                      {{queue_item.patients_firstname}} {{queue_item.patients_surname}}
                    </td>
                    <td class="text-center">
                      {{queue_item.queue_status_name}}
                    </td>
                    <td class="text-center">
                      {{queue_item.workflow_name}}
                    </td>
                    <td class="text-center">
                      {{queue_item.place_name}}
                    </td>
                    <td class="text-center">
                      <button  @click="toNextQueueType(queue_item.id)" type="button" class="btn btn-success m-2">ตรวจเสร็จแล้ว</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="call" class="card call-bg">
            <h4 class="card-title white-text text-center ml-5 mt-4">กำลังเรียกคิว</h4>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th class="text-center">
                      Queue No.
                    </th>
                    <th class="text-center">
                      Name
                    </th>
                    <th class="text-center">
                      Queue Status
                    </th>
                    <th class="text-center">
                      Flow Type
                    </th>
                    <th class="text-center">
                      Place
                    </th>
                    <th class="text-center">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr :key="index+renderKey"  v-for="(queue_item,index) in calling_queues_lists">
                    <td class="text-center">
                      {{queue_item.queueNo}}
                    </td>
                    <td class="text-center">
                      {{queue_item.patients_firstname}} {{queue_item.patients_surname}}
                    </td>
                    <td class="text-center">
                      {{queue_item.queue_status_name}}
                    </td>
                    <td class="text-center">
                      {{queue_item.workflow_name}}
                    </td>
                    <td class="text-center">
                      {{queue_item.place_name}}
                    </td>
                    <td class="text-center">
                      <button v-if="index == 0" @click="meetingQueue(queue_item.id)" type="button" class="btn btn-success m-2">ตรวจ</button>
                      <button type="button" @click="cancelQueue(queue_item.id)" class="btn btn-danger m-2">ยกเลิก</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div :key="'_content_renderKey_'+renderKey" id="wait" class="card grey-bg">
            <h4 :key="$route.params.queueTitle" class="card-title white-text text-center ml-5 mt-4">กำลังเข้าคิว</h4>
            <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <tr>
                      <th class="text-center">
                        Queue No.
                      </th>
                      <th class="text-center">
                        Name
                      </th>
                      <th class="text-center">
                        Queue Status
                      </th>
                      <th class="text-center">
                        Amount of queue left
                      </th>
                      <th class="text-center">
                        Flow Type
                      </th>
                      <th class="text-center">
                        Place
                      </th>
                      <th class="text-center">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr :key="index+'_render'+renderKey"  v-for="(queue_item,index) in queues_lists">
                      <td class="text-center">
                        {{queue_item.queueNo}}
                      </td>
                      <td class="text-center">
                        {{queue_item.patients_firstname}} {{queue_item.patients_surname}}
                      </td>
                      <td class="text-center">
                        {{queue_item.queue_status_name}}
                      </td>
                      <td class="text-center">
                        {{index}}
                      </td>
                      <td class="text-center">
                        {{queue_item.workflow_name}}
                      </td>
                      <td class="text-center">
                        {{queue_item.place_name}}
                      </td>
                      <td class="text-center">
                        <button v-if="index == 0" @click="callQueue(queue_item.id)" type="button" class="btn btn-success m-2">เรียกคิว</button>
                        <button v-if="index == 0" @click="missingQueue(queue_item.id)" type="button" class="btn btn-warning m-2">เจ้าของคิวไม่มา</button>
                        <button type="button" @click="cancelQueue(queue_item.id)" class="btn btn-danger m-2">ยกเลิก</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </template>


      <template >
          <div :key="'_content_missing_queue_'+renderKey" id="miss" class="card lightyellow-bg">
            <div class="table-responsive">
                <h4 class="card-title black-text text-center ml-5 mt-4">คิวหาย</h4>
                <table class="table">
                  <thead class=" text-primary">
                    <tr>
                      <th class="text-center">
                        Queue No.
                      </th>
                      <th class="text-center">
                        Name
                      </th>
                      <th class="text-center">
                        Queue Status
                      </th>
                      <th class="text-center">
                        Flow Type
                      </th>
                      <th class="text-center">
                        Place
                      </th>
                      <th class="text-center">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr :key="'_'+index+'_render'+renderKey"  v-for="(queue_item,index) in missing_queues_lists">
                      <td class="text-center">
                        {{queue_item.queueNo}}
                      </td>
                      <td class="text-center">
                        {{queue_item.patients_firstname}} {{queue_item.patients_surname}}
                      </td>
                      <td class="text-center">
                        {{queue_item.queue_status_name}}
                      </td>
                      <td class="text-center">
                        {{queue_item.workflow_name}}
                      </td>
                      <td class="text-center">
                        {{queue_item.place_name}}
                      </td>
                      <td class="text-center">
                        <button type="button" @click="waitingQueue(queue_item.id)" class="btn btn-success m-2">กลับสู่คิว</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </template>
    </div>
  </div>
</template>

<style>
/* #checking{
  background-color: green;
}
#call{
  background-color: #FFC731;
}
#wait{
  background-color: #C6C6C6;
}
#miss{
  background-color: #F9FF77;
} */
#main-bg{
  background-color: #CAFFF7;
}
.green-bg {
  background-color: green;
}
.lightyellow-bg {
  background-color: #F9FF77;
}
.yellowgreen-bg {
  background-color: #16AF0B;
}
.grey-bg {
  background-color: #C6C6C6;
}
.call-bg{
  background-color: #FFC731;
}
.main-bg{
  background-color: #CAFFF7;
}
</style>

<script>
import service from "@/modules/service";
export default {
  name: 'Queue',
  data () {
    return {
      tab:1,
      renderKey: 0,
      queue_type_list: [],
      tab_show_queue_type_index:0,
      tab_show_queue_type: [],
      queue_status_list: [],
      meeting_queues_lists: {},
      queues_lists: {},
      missing_queues_lists: {},
      appointment_lists: [],
      calling_queues_lists: {}
    }
  },
  methods:{
    tab1: function(){
      var self = this;
      this.tab = 1;
      this.tab_selectQueueType(0);
    },
    tab2: function(){
      var self = this;
      this.tab = 2;
      this.loadAppointmentList().then(function(){
        self.renderKey++;
      });
    },
    tab3: function(){
      var self = this;
      this.tab = 3;
      this.tab_missingselectQueueType(0);
    },
    loadQueueList: async function(){
      var self = this;
      this.$utils.loaderOn();
      this.queue_type_list = await service.getQueueTypeList();
      if(this.tab_show_queue_type == []){
        this.tab_show_queue_type = this.queue_type_list;
      }
      this.queue_status_list = await service.getQueueStatusList();

      for(var i = 0 ; i < this.queue_type_list.length ; i++){
          var queue_type = this.queue_type_list[i];

          var queues = await service.getQueueList( queue_type.id , 1 );
          if(queues != "queues not found"){
            self.queues_lists[queue_type.name] = queues;
          }
          else{
            self.queues_lists[queue_type.name] = [];
          }

          var meeting_queues = await service.getQueueList( queue_type.id , 2 );
          if(meeting_queues != "queues not found"){
            self.meeting_queues_lists[queue_type.name] = meeting_queues;
          }
          else{
            self.meeting_queues_lists[queue_type.name] = [];
          }
      }
      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    loadQueueListById: async function(queue_type_id){
      var self = this;
      this.$utils.loaderOn();
      this.queue_type_list = await service.getQueueTypeList();
      if(this.tab_show_queue_type == []){
        this.tab_show_queue_type = this.queue_type_list;
      }
      this.queue_status_list = await service.getQueueStatusList();

      var queues = await service.getQueueList( queue_type_id );

      self.queues_lists = [];
      self.meeting_queues_lists = [];
      self.missing_queues_lists = [];
      self.calling_queues_lists = [];

      for (var i = 0; i < queues.length; i++) {
        if(queues[i].queue_status_name == "Waiting"){
          self.queues_lists.push(queues[i]);
        }
        else if(queues[i].queue_status_name == "Meeting"){
          self.meeting_queues_lists.push(queues[i]);
        }
        else if(queues[i].queue_status_name == "Delayed"){
          self.missing_queues_lists.push(queues[i]);
        }
        else if(queues[i].queue_status_name == "Calling"){
          self.calling_queues_lists.push(queues[i]);
        }
      }
      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    loadQueue: async function(queue_type_index,meeting_or_queue){

      var self = this;
      this.$utils.loaderOn();
      if(this.queue_type_list.length == 0){
        this.queue_type_list = await service.getQueueTypeList();
      }

      var queue_type = this.queue_type_list[queue_type_index];

      if(!meeting_or_queue){//queue
        var queues = await service.getQueueList( queue_type.id , 1 );
        if(queues != "queues not found"){
          self.queues_lists[queue_type.name] = queues;
        }
        else{
          self.queues_lists[queue_type.name] = [];
        }

        var queues = await service.getQueueList( queue_type.id ,3 );
        if(queues != "queues not found"){
          self.missing_queues_lists[queue_type.name] = queues;
        }
        else{
          self.missing_queues_lists[queue_type.name] = [];
        }
      }
      else{//meeting
          var meeting_queues = await service.getQueueList( queue_type.id , 2 );
          if(meeting_queues != "queues not found"){
            self.meeting_queues_lists[queue_type.name] = meeting_queues;
          }
          else{
            self.meeting_queues_lists[queue_type.name] = [];
          }
      }

      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    waitingQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 1 ).then(function(result){
        // self.SendNotificationData()
        self.loadQueueListById(self.$route.params.queueId);
      });
    },
    callQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 8 ).then(function(result){
        self.loadQueueListById(self.$route.params.queueId);
      });
    },
    meetingQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 2 ).then(function(result){
        self.loadQueueListById(self.$route.params.queueId);
      });
    },
    missingQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 3 ).then(function(result){
        self.loadQueueListById(self.$route.params.queueId);
      });
    },
    cancelQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 4 ).then(function(result){
        self.loadQueueListById(self.$route.params.queueId);
      });
    },
    finishQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 5 ).then(function(result){

        self.loadQueueListById(self.$route.params.queueId);
      });
    },
    callQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 8 ).then(function(result){

        self.loadQueueListById(self.$route.params.queueId);
      });
    },
    loadAppointmentList: async function(){
      var self = this;
      this.$utils.loaderOn();

      var appointmentlist = await service.getAppointmentList();
      if(appointmentlist != "appointment not found"){
        self.appointment_lists = appointmentlist;
      }
      else{
        self.appointment_lists = [];
      }

      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    loadMissingQueueList: async function(){
      var self = this;
      this.$utils.loaderOn();
      this.queue_type_list = await service.getQueueTypeList();
      this.queue_status_list = await service.getQueueStatusList();

      for(var i = 0 ; i < this.queue_type_list.length ; i++){
          var queue_type = this.queue_type_list[i];

          var queues = await service.getQueueList( queue_type.id , 3 );
          if(queues != "queues not found"){
            self.missing_queues_lists[queue_type.name] = queues;
          }
          else{
            self.missing_queues_lists[queue_type.name] = [];
          }

      }
      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    toNextQueueType: function(queue_id,queue_type_index){
      var self = this;

      service.toNextQueueType( queue_id).then(function(result){
        self.loadQueueListById(self.$route.params.queueId).then(function(){
          swal("เรียบร้อยแล้ว");
        });
      });
    },
    tab_selectQueueType: function(queue_type_index){
      var self = this;

      if(queue_type_index == -1){
        this.loadQueueList().then(function(){
          self.tab_show_queue_type = self.queue_type_list;
          self.renderKey++;
        });
      }
      else{
        self.loadQueue(queue_type_index,true).then(function(){
          self.loadQueue(queue_type_index,false).then(function(){
            self.tab_show_queue_type = {};
            self.tab_show_queue_type[queue_type_index] = self.queue_type_list[queue_type_index];
          });
        });
      }
      this.tab_show_queue_type_index = queue_type_index;
      console.log(this.tab_show_queue_type);
    },
    tab_missingselectQueueType: function(queue_type_index){
      var self = this;

      if(queue_type_index == -1){
        this.loadMissingQueueList().then(function(){
          self.tab_show_queue_type = self.queue_type_list;
          self.renderKey++;
        });
      }
      else{
        self.loadQueue(queue_type_index,true).then(function(){
          self.loadQueue(queue_type_index,false).then(function(){
            self.tab_show_queue_type = {};
            self.tab_show_queue_type[queue_type_index] = self.queue_type_list[queue_type_index];
          });
        });
      }
      this.tab_show_queue_type_index = queue_type_index;
      console.log(this.tab_show_queue_type);
    }
  },
  async mounted(){
    await this.loadQueueListById(this.$route.params.queueId);
    // for(var i = 0 ; i < this.queue_type_list.length ; i++){
    //   if(this.queue_type_list[i].id == this.$route.params.queueId){
    //     self.tab_show_queue_type = {};
    //     self.tab_show_queue_type[i] = this.queue_type_list[i];
    //     this.tab_show_queue_type_index = i;
    //   }
    // }

    // console.log(this.$route.params.queueId);
    // this.$route.meta.title = this.$route.params.queueId;
    // this.tab1();
  }
}
</script>
