<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
  /* Import Font Awesome Icons Set */
  $fa-font-path: '~font-awesome/fonts/';
  @import '~font-awesome/scss/font-awesome.scss';
  /* Import Bootstrap Vue Styles */
  @import 'bootstrap/dist/css/bootstrap.css';
  @import 'bootstrap-vue/dist/bootstrap-vue.css';
  /* Import Calendar Plugins style*/
  @import 'assets/plugins/calendar/calendar.css';
  // Import font from google
  @import 'https://fonts.googleapis.com/css?family=Montserrat:400,700,200';
  // Import Template style
  @import 'assets/Template/assets/scss/now-ui-dashboard.scss';
  // Import Main styles for this application
  @import 'assets/css/style.css';
  .main-bg form {
    padding-left: 1rem;
  }
</style>
